*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.container-row1,
.container-row3 {
    width: 100%;
    height: 40%;
}

.container-row2 {
    width: 100%;
    height: 20%;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
    height: 100%;
    width: 40%;
}

.row1-col2,
.row3-col2 {
    height: 100%;
    width: 20%;
}

.row1-col2>div:hover,
.row3-col2>div:hover {
    box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25), -2px 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.row1-col1,
.row1-col2,
.row1-col3,
.row2-col1,
.row2-col2,
.row2-col3,
.row3-col1,
.row3-col2,
.row3-col3 {
    float: left;
}

.row2-col1,
.row2-col3 {
    width: 40%;
    height: 100%;
}

.row2-col1>div:hover,
.row2-col3>div:hover {
    box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25), -2px 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.row2-col2 {
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1-col1-child,
.row1-col3-child,
.row3-col1-child,
.row3-col3-child {
    width: 70%;
    height: 70%;
}

.row1-col1-child>div,
.row1-col3-child>div,
.row3-col1-child>div,
.row3-col3-child>div {
    width: 35%;
    height: 35%;
    float: left;
    margin: 7.5%;
    /* box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25), -2px 10px 10px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.row1-col1-child>div:hover,
.row1-col3-child>div:hover,
.row3-col1-child>div:hover,
.row3-col3-child>div:hover {
    box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25), -2px 10px 10px rgba(0, 0, 0, 0.22);
}

.row1-col2>div,
.row3-col2>div {
    width: 33.333%;
    height: 16.667%;
    float: left;
    border: 1px solid black;
}

.row2-col1>div,
.row2-col3>div {
    width: 16.667%;
    height: 33.333%;
    float: left;
    border: 1px solid black;
}

.green {
    background-color: #84c21f;
}

.red {
    background-color: hsla(0, 73%, 54%, 0.796);
}

.blue {
    background-color: #0092dc;
}

.yellow {
    background-color: #f6c700;
}

.white {
    background-color: #fff;
}

.gray {
    background-color: gray;
}

.numero {
    font-size: 11px;
    font-family: sans-serif;
    display: flex;    
    align-items: flex-end;
    z-index: -2;
}


.contain-triangles {
    height: 100%;
    width: 100%;
    position: relative;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 45px solid hsla(0, 73%, 54%, 0.796);
    border-bottom: 45px solid transparent;
    position: absolute;
    left: 0;
    top: 5.2px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #0092dc;
    position: absolute;
    bottom: 0;
    left: 5.2px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-right: 45px solid #f6c700;
    border-bottom: 45px solid transparent;
    border-top: 45px solid transparent;
    position: absolute;
    right: 0;
    top: 5.2px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #84c21f;
    position: absolute;
    top: 0;
    right: 5.2px;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.dot {
    margin-left: 1rem;
    height: 100%;
    width: 33%;
    background-color: white;
    border-radius: 60%;
    display: inline-block;
    background-image: url("../img/person.png");
    background-size: 100%;
}

.jugador {
    width: 28%;
    height: 18%;
    position: fixed;
    left: 2%;
    top: 21%;
    cursor: pointer;
    background-color: white;
}

.jugador2 {
    width: 28%;
    height: 18%;
    position: fixed;
    left: 2%;
    bottom: 25%;
    cursor: pointer;
    background-color: white;
}

.ctirar {
    width: 10%;
    height: 10%;
    position: fixed;
    left: 15%;
    top: 27%;
    cursor: pointer;
    /* background-color: black; */
}

.ctirar2 {
    width: 10%;
    height: 10%;
    position: fixed;
    left: 15%;
    bottom: 25%;
    cursor: pointer;
    /* background-color: black; */
}

.turno {
    position: fixed;
    left: 43%;
    top: 5%;
    font-weight: bold;
    font-size: x-large;
}

.dados {
    position: fixed;
    right: 2%;
    top: 40%;
    font-weight: bold;
    font-size: x-large;
}

.tablaDados {
    font-weight: normal;
    font-size: x-large;
}

/* #cass21 {
    background-image: url("../img/tokenAma.png");
    background-size: 50% 100%;
} */

label.bTirar, label.bTirar2, label.bLogin, label.bLogin2{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#688596;
    text-align:center;
    transition: all 0.2s;
}

label.bTirar:hover, label.bTirar2:hover, label.bLogin, label.bLogin2{
    background-color:#4095c6;
}

/*modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media all and (max-width:30em){
    a.button3{
       display:block;
       margin:0.2em auto;
    }
} 